* {
  box-sizing: border-box;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  background-color: #b2b2b2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  cursor: pointer;
}

.burger-menu {
  width: 30px;
  height: 30px;
}

.career-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  border: 2px white solid;
  padding: 10px;
  border-radius: 5px;
}

.upload {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.container {
  background-color: #89c82e;
  padding: 2rem;
  border-radius: 25px;
  width: 80%;
  max-width: 500px;
  border: 4px solid #3c3c3b;
  text-align: center;
}

.label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-section {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  margin-bottom: 0;
  margin-right: 5px;
  width: 40px;
}

input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #89c82e;
  color: #fff;
  background-color: #700064;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
  border: 2px solid #3c3c3b;
}
button:hover {
  background-color: #f43f85;
}
.error {
  color: #700064;
  display: none;
  margin-left: 45px;
}

.form-error {
  color: #700064;
  margin-top: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit; /* or any color of your choice */
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #f43f85;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    padding: 2rem;
  }

  .label-input {
    flex-direction: column;
    width: 100%;
    align-items: unset;
  }

  button {
    width: 50%;
  }

  .career-menu {
    border: none;
  }
  .career-text {
    display: none;
  }
}
